.streak {
  display: inline-block;
  height: 5px;
  width: 37rem;
  background-color: rgb(30, 30, 30);
  left: 20px;
  position: relative;
}

svg {
  margin-right: 3rem;
}

ul {
  width: 55rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(81, 81, 81, 0.142);
  backdrop-filter: blur(45px);
}

nav {
  position: absolute;
  height: 10rem;
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-margin {
  margin-left: 3rem;
}
